<div id="content" class="content">
    <h3 class="page-title fadeInUp animated animation-delay1 fontOrange">Add Course Offered</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>School</th>
                    <th>Course</th>
                    <th>Description</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select class="form-control" ng-model="coc.model.school_id">
                            <option ng-repeat="school in coc.model.schools" ng-value="school.id">{{school.school_name}}</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" ng-model="coc.model.course_id">
                             <option ng-repeat="course in coc.model.courses" ng-value="course.id">{{course.course_name}}</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" ng-model="coc.model.description" style="min-width: 200px" autosize ng-enter="coc.admin_saveCourseOffered(coc.model.school_id, coc.model.course_id, coc.model.description)" />
                    </td>
                    <td>
                        <a href="" ng-click="coc.admin_saveCourseOffered(coc.model.school_id, coc.model.course_id, coc.model.description)" class="glyphicon glyphicon-ok"></a>
                        <!-- <a a-href="" class="glyphicon glyphicon-remove"></a> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 class="page-title fadeInUp animated animation-delay1 fontOrange">Update Courses</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <br>
            <thead>
                <tr>
                    <th>school_name</th>
                    <th>course_name</th>
                    <th>description</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='courseOffered in coc.model.courseOffered'>
                    <td>
                        <span data-ng-hide="editMode" ng-bind="courseOffered.school_name"></span>
                        <input type="text" data-ng-show="editMode" ng-model="courseOffered.school_name" style="width: 100%" />
                    </td>
                    <td>
                        <span data-ng-hide="editMode" ng-bind="courseOffered.course_name"></span>
                        <input type="text" data-ng-show="editMode" ng-model="courseOffered.course_name" style="width: 100%" />
                    </td>
                    <!-- <td>
                        <span data-ng-hide="editMode" ng-bind="courseOffered.school_name"></span>
                        <select data-ng-show="editMode" class="form-control" ng-model="coc.model.school_id">
                            <option ng-repeat="school in coc.model.schools" ng-value="school.id">{{school.school_name}}</option>
                        </select>
                    </td>
                    <td>
                        <a ui data-ng-hide="editMode" ng-bind="courseOffered.course_name"></a>
                        <select data-ng-show="editMode" class="form-control" ng-model="coc.model.course_id">
                             <option ng-repeat="course in coc.model.courses" ng-value="course.id">{{course.course_name}}</option>
                        </select>
                    </td> -->
                    <td>
                        <span data-ng-hide="editMode" ng-bind="courseOffered.description"></span>
                        <input type="text" data-ng-show="editMode" ng-model="courseOffered.description" style="width: 100%" />
                    </td>
                    <td>
                        <a a-href="" class="glyphicon glyphicon-pencil" data-ng-hide="editMode" data-ng-click="editMode = true"></a>
                        <a a-href="" class="glyphicon glyphicon-ok" data-ng-show="editMode" data-ng-click="editMode = false; coc.update(courseOffered)"></a>
                        <a a-href="" class="glyphicon glyphicon-remove" data-ng-show="editMode" data-ng-click="editMode = false"></a>
                        <a a-href="" class="btn btn-danger"  data-ng-show="editMode" data-ng-click="editMode = false; coc.delete(courseOffered.id)">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>